<h1>Ingreso de productos</h1>
<form action="/productos" method="post">
        <div>
            <label for="title">Title: </label>
            <input type="text" name="title">
        </div>
        <div>
            <label for="price">Price: </label>
            <input type="number" name="price">
        </div>
        <button style="margin: 17px 0">Enviar</button>
</form>
<button><a href="/productos">Ver productos</a></button>